* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: tomato;
}

.cards-container {
	overflow: hidden; /* per evitare che i margini negativi continuino a occupare dello spazio nel layout */
}

.cards {
	--ncards: 2;
	--space: 5rem;
	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--space) / -2); /* -2 perchè vogliamo un valore negativo di --space diviso per due */
}

@media screen and (min-width: 600px) {
	.cards {
		--ncards: 4;
		--space: 3rem;
	}
}

@media screen and (min-width: 900px) {
	.cards {
		--ncards: 6;
		--space: 1rem;
	}
}

.cards .card {
	flex: 0 1 calc((100% / var(--ncards)) - var(--space));
	margin: calc(var(--space) / 2);
}

.cards img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
